<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="width: 500px;margin: 200px auto">
    <a onclick="returnList()" href="javascript:void(0)">返回</a>
    <form>
         {% csrf_token %}
        <label>
            姓名：<input id="user_name" value=""/>
        </label>
        <p></p>
        <label>
            性别
            <select id="sex">
                <option value="m">男</option>
                <option value="w">女</option>
            </select>
        </label>
        <p></p>
        <label>
            年龄：<input id="age" value=""/>
        </label>
        <p></p>
        <label>
            地址<input id="address" value=""/>
        </label>
        <p></p>
        <button onclick="save()" type="button">提交</button>
        <button onclick="returnList()" type="button">取消</button>
    </form>
</div>
</body>
</html>
<script>
    function returnList(){
        $("#user_list").load("/user/list",{'page':1,"pageSize":10},function () {})
    }
    function save(){
        $.post("/user/save",{
        "id":$("#id").val(),
        "user_name":$("#user_name").val(),
        "sex":$("#sex").val(),
        "age":$("#age").val(),
        "address":$("#address").val()
        },function (data) {
            alert(data.respMsg);
            if(data.status=="0000"){
                $("#user_list").load("/user/list",{'page':1,"pageSize":10},function () {})
            }else {
                return false
            }
        })
    }

</script>