<div style="width: 500px;margin: 200px auto">
    <a onclick="returnList()" href="javascript:void(0)">返回</a>
    <form>
         <input id="id" name="id" hidden value="{{ user.id }}"/>
        <input id="user_name" name="user_name" value="{{ user.user_name }}"/>
        <input id="sex" name="sex" value="{{ user.sex }}"/>
        <input id="age" name="age" value="{{ user.age }}"/>
        <input id="address" name="address" value="{{ user.address }}"/>
        <button type="button" onclick="save()">提交</button>
    </form>
</div>
<script>
    function returnList(){
        $("#user_list").load("/user/list",{'page':1,"pageSize":10},function () {})
    }
    function save(){
        $.post("/user/save",{
        "id":$("#id").val(),
        "user_name":$("#user_name").val(),
        "sex":$("#sex").val(),
        "age":$("#age").val(),
        "address":$("#address").val()
        },function (data) {
            alert(data.respMsg);
            if(data.status=="0000"){
                $("#user_list").load("/user/list",{'page':1,"pageSize":10},function () {})
            }else {
                return false
            }
        })
    }

</script>