<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Realm - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Bluth Company">
    <link rel="shortcut icon" href="assets/ico/favicon.html">
    <link href="{% static 'first_django/assets/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'first_django/assets/css/theme.css' %}" rel="stylesheet">
    <link href="{% static 'first_django/assets/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'first_django/assets/css/alertify.css' %}" rel="stylesheet">
    <link href="http://fonts.useso.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link rel="Favicon Icon" href="favicon.ico">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{#    <script src="{% static 'first_django/plugin/jquery/jquery.min.js' %}" type="text/javascript"></script>#}
{#    <script src="{% static 'first_django/plugin/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>#}
{#    <script src="{% static 'first_django/plugin/bootstrap/js/bootstrap-table.min.js' %}"></script>#}
{#    <script src="{% static 'first_django/plugin/bootstrap/js/bootstrap-table-zh-CN.min.js' %}"></script>#}
{#    <script src="{% static 'first_django/plugin/bootbox.min.js' %}"></script>#}
{#    <link href="{% static 'first_django/plugin/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />#}
{#    <link href="{% static 'first_django/plugin/bootstrap/css/bootstrap-table.min.css' %}" rel="stylesheet" />#}
{#    <link href="{% static 'first_django/plugin/bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet" />#}


  </head>
  <body>
    <div id="wrap">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="logo">
            <img src="{% static 'first_django/assets/img/logo.png' %}" alt="Realm Admin Template">
          </div>
           <a class="btn btn-navbar visible-phone" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
           <a class="btn btn-navbar slide_menu_left visible-tablet">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <div class="top-menu visible-desktop">
            <ul class="pull-left">
              <li><a id="messages" data-notification="2" href="#"><i class="icon-envelope"></i> Messages</a></li>
              <li><a id="notifications" data-notification="3" href="#"><i class="icon-globe"></i> Notifications</a></li>
            </ul>
            <ul class="pull-right">
              <li><a href="javascript:void(0)" onclick="logout()"><i class="icon-off"></i> Logout</a></li>
            </ul>
          </div>

          <div class="top-menu visible-phone visible-tablet">
            <ul class="pull-right">
              <li><a title="link to View all Messages page, no popover in phone view or tablet" href="#"><i class="icon-envelope"></i></a></li>
              <li><a title="link to View all Notifications page, no popover in phone view or tablet" href="#"><i class="icon-globe"></i></a></li>
              <li><a href="login.html"><i class="icon-off"></i></a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container-fluid">

      <!-- Side menu -->
      <div class="sidebar-nav nav-collapse collapse">
        <div class="user_side clearfix">
          <img src="{% static 'first_django/assets/img/odinn.jpg' %}" alt="Odinn god of Thunder">
          <h5>Odinn</h5>
          <a href="#"><i class="icon-cog"></i> Settings</a>
        </div>
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle active b_F79999" href="index-2.html"><i class="icon-dashboard"></i> <span>Dashboard</span></a>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle b_C3F7A7 collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse1"><i class="icon-magic"></i> <span>Features</span></a>
            </div>
            <div id="collapse1" class="accordion-body collapse">
              <div class="accordion-inner">
                <a class="accordion-toggle" href="ui_features.html"><i class="icon-star"></i> UI Features</a>
                <a class="accordion-toggle" href="forms.html"><i class="icon-list-alt"></i> Forms</a>
                <a class="accordion-toggle" href="tables.html"><i class="icon-table"></i> Tables</a>
                <a class="accordion-toggle" href="buttons.html"><i class="icon-circle"></i> Buttons</a>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle b_9FDDF6 collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse2"><i class="icon-reorder"></i> <span>Components</span></a>
            </div>
            <div id="collapse2" class="accordion-body collapse">
              <div class="accordion-inner">
                <a class="accordion-toggle" href="notifications.html"><i class="icon-rss"></i> Notifications</a>
                <a class="accordion-toggle" href="calendar.html"><i class="icon-calendar"></i> Calendar</a>
                <a class="accordion-toggle" href="gallery.html"><i class="icon-picture"></i> Gallery</a>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle b_F6F1A2" href="tasks.html"><i class="icon-tasks"></i> <span>Tasks</span></a>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle b_C1F8A9" href="analytics.html"><i class="icon-bar-chart"></i> <span>Analytics</span></a>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle b_9FDDF6" href="tickets.html"><i class="icon-bullhorn"></i> <span>Support Tickets</span></a>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle b_F5C294" href="users.html"><i class="icon-user"></i> <span>Users</span></a>
            </div>
          </div>
        </div>
      </div>
      <!-- /Side menu -->

      <!-- Main window -->
      <div class="main_container" id="dashboard_page">
        <div class="row-fluid">
          <div class="overview_boxes">
            <div class="box_row clearfix">
              <div class="widget-tasks-statistics">
                <div class="userstats clearfix" style="margin-top: 25px;">
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#example_modal2">
                    <div class="white">
                      <i style="color:#E28271" class="icon-eye-open"></i>
                      <p style="color:#E28271">+85%</p>
                    </div>
                    <div class="widget">
                      <input class="knob" data-width="120" data-height="120" data-displayInput=false data-readOnly=true data-thickness=".15" value="85">
                    </div>
                    <p><strong>+530</strong>Visits this month</p>
                  </a>
                </div>
              </div>
              <div class="widget-tasks-statistics">
                <div class="userstats clearfix" style="margin-top: 25px;">
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#example_modal2">
                    <div class="white">
                      <i style="color:#98E5EA" class="icon-user"></i>
                      <p style="color:#98E5EA">+13%</p>
                    </div>
                    <div class="widget">
                      <input class="knob" data-width="120" data-height="120" data-displayInput=false data-readOnly=true data-thickness=".15" value="13">
                    </div>
                    <p><strong>57</strong>New Users</p>

                  </a>
                </div>
              </div>
              <div class="widget-tasks-statistics">
                <div class="userstats clearfix" style="margin-top: 25px;">
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#example_modal2">
                    <div class="white">
                      <i style="color:#AEEA98" class="icon-bullhorn"></i>
                      <p style="color:#AEEA98">+15%</p>
                    </div>
                    <div class="widget">
                      <input class="knob" data-width="120" data-height="120" data-displayInput=false data-readOnly=true data-thickness=".15" value="15">
                    </div>
                    <p><strong>35/235</strong>Finished Tickets</p>
                  </a>
                </div>
              </div>
<!--
              <div>
                <div class="circle">
                  <i style="color:#E28271" class="icon-eye-open"></i>
                </div>
                <h2>7.3k</h2>
                <p>Visits</p>
              </div>
              <div>
                <div class="circle">
                  <i style="color:#98E5EA" class="icon-user"></i>
                </div>
                <h2>4.2k</h2>
                <p>Users</p>
              </div>
              <div>
                <div class="circle">
                  <i style="color:#AEEA98" class="icon-bullhorn"></i>
                </div>
                <h2>235</h2>
                <p>Tickets</p>
              </div>
               -->
            </div>
            <div class="box_row clearfix">
              <div class="widget-tasks-statistics">
                <div class="userstats clearfix" style="margin-top: 25px;">
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#example_modal2">
                    <div class="white">
                      <i style="color:#98AEEA" class="icon-thumbs-up"></i>
                      <p style="color:#98AEEA">+55%</p>
                    </div>
                    <div class="widget">
                      <input class="knob" data-width="120" data-height="120" data-displayInput=false data-readOnly=true data-thickness=".15" value="55">
                    </div>
                    <p><strong>$14,230</strong>Income</p>
                  </a>
                </div>
              </div>
              <div class="widget-tasks-statistics">
                <div class="userstats clearfix" style="margin-top: 25px;">
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#example_modal2">
                    <div class="white">
                      <i style="color:#EA98AB" class="icon-credit-card"></i>
                      <p style="color:#EA98AB">+35%</p>
                    </div>
                    <div class="widget">
                      <input class="knob" data-width="120" data-height="120" data-displayInput=false data-readOnly=true data-thickness=".15" value="35">
                    </div>
                    <p><strong>152</strong>New Likes</p>
                  </a>
                </div>
              </div>
              <div class="widget-tasks-statistics">
                <div class="userstats clearfix" style="margin-top: 25px;">
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#example_modal2">
                    <div class="white">
                      <i style="color:#F6BF99" class="icon-phone"></i>
                      <p style="color:#F6BF99">+97%</p>
                    </div>
                    <div class="widget">
                      <input class="knob" data-width="120" data-height="120" data-displayInput=false data-readOnly=true data-thickness=".15" value="97">
                    </div>
                    <p><strong>592</strong>Leads Generated</p>
                  </a>
                </div>
              </div>
<!--
              <div>
                <div class="circle">
                  <i style="color:#98AEEA" class="icon-thumbs-up"></i>
                </div>
                <h2>152</h2>
                <p>New Likes</p>
              </div>
              <div>
                <div class="circle">
                  <i style="color:#EA98AB" class="icon-credit-card"></i>
                </div>
                <h2>$14,230</h2>
                <p>Income</p>
              </div>
              <div>
                <div class="circle">
                  <i style="color:#F6BF99" class="icon-phone"></i>
                </div>
                <h2>92</h2>
                <p>Leads Generated</p>
              </div>
               -->
            </div>
          </div>
        </div>
      </div>
      <!-- /Main window -->

    </div><!--/.fluid-container-->
    </div><!-- wrap ends-->


    <script type="text/javascript" src="{% static 'first_django/assets/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'first_django/assets/js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'first_django/assets/js/raphael-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'first_django/assets/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'first_django/assets/js/sparkline.js' %}"></script>
    <script type="text/javascript" src="{% static 'first_django/assets/js/morris.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'first_django/assets/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'first_django/assets/js/jquery.masonry.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'first_django/assets/js/jquery.imagesloaded.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'first_django/assets/js/jquery.facybox.js' %}"></script>
    <script type="text/javascript" src="{% static 'first_django/assets/js/jquery.alertify.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'first_django/assets/js/jquery.knob.js' %}"></script>
    <script type='text/javascript' src="{% static 'first_django/assets/js/fullcalendar.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'first_django/assets/js/jquery.gritter.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'first_django/assets/js/realm.js' %}"></script>
    <script type="text/javascript" src="{% static 'first_django/assets/js/jquery.slimscroll.min.js' %}"></script>
   <script src="{% static 'first_django/plugin/bootstrap/js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'first_django/plugin/bootstrap/js/bootstrap-table-zh-CN.min.js' %}"></script>
    <script src="{% static 'first_django/plugin/bootbox.min.js' %}"></script>

  <script>
        function logout() {
            window.location.href="/logout";
        }
  </script>
  </body>
</html>
